/* Hero section with image */
.hero {
    background-image: url('/public/image6.jpg');
    /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 30px;
}

.hero button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #48a5e4;
    /* Customize the button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero button:hover {
    background-color: #2692da;
    /* Change the button color on hover */
}