/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  .open{
    height: 100%; /* 100% Full-height */
    width: 30%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .linkA {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .linkA:hover {
    color: #f1f1f1;
  }
  
  .linkA {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .linkA:hover {
    color: #f1f1f1;
  }


  /* Position and style the close button (top right corner) */
  .open .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  .openbtn {
    float: right;
    color: aliceblue;
    font-size: 2.1rem;
    margin: 5px 29px 5px 20px;
  }
    .navbar {
      position: fixed;
      width: 100%;
      height: 70px;
      background-color: #0e74c74d;
    }
  
    .navbar>img {
      width: 50px;
      padding: 10px 24px 10px 25px;
      height: auto;
    }
  
    .ul {
      float: right;
    }
  
    /* li {
      display: inline-block;
      list-style-type: none;
      margin: 25px 25px 25px 25px;
    } */
/*   
    li a {
      font-size: 1.25rem;
      color: #ffffff;
      text-decoration: none;
    } */
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and linkA smaller font size) */
  @media screen and (max-height: 450px) {
    .open {padding-top: 15px;}
    .linkA {font-size: 18px;}
  }
  @media screen and (max-width:450px) {
        .open {width: 45%;} 
        .linkA{
          /* text-align: center; */
        direction: ltr;} 
  }
    
  